<html>
  <head>
    <title>IJF</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    
	<!-- GOOGLE ICONS --> 
	<link href="https://fonts.googleapis.com" crossorigin="" rel="preconnect">
	<link href="https://fonts.gstatic.com" crossorigin="" rel="preconnect">
	<!-- GOOGLE FONTS --> 
	<link rel="stylesheet" id="google-fonts-css" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=latin-ext" type="text/css" media="all">
	       
    <metaname="decorator"content="none"/>

</head>
<body>


	<div width=100% style="background-color: #ffffff;">
	   <div style="height: 12px;"></div>
	   <div style="text-align: center;">
	      <table align="center" width=20%>
	         <tr>
	            <td style="width:20%">
	               <div style="text-align: center;"> <img src="https://www.idealfed.com/images/idfMedium.png"> </div>
	            </td>
	         </tr>
	      </table>
	   </div>
	   <div style="height: 24px;"></div>
	</div>
	<div style="background-color: #ffffff;">
	<table width=100% style=" background-color: #ffffff; margin-bottom: -1px">
	   <tr>
	      <td></td>
	      <td width="100px" style="text-align: right;">
	      </td>
	      <td width="100px" style="text-align: center; padding-bottom: 8px;">
	      </td>
	      <td width="100px" style="text-align: right;">
	
	      </td>
	      <td></td>
	   </tr>
	</table>
	<table width=100% style=" background-color: #27313E; border-bottom: 3px solid #a98860;">
	   <tr>
	      <td style="height: 12px;"></td>
	   </tr>
	   <tr style="background-color: #27313E;">
	      <td style="width:15%"></td>
	      <td style=" text-align: center; font-size: 1rem; line-height: 2; color:#fff; font-family: 'Merriweather', 'Helvetica', serif, Arial; font-weight: 300; padding-left: -150px;">
	         Ideal Forms for JIRA is a plugin that provides a forms development system for customizing experiences with JIRA data. 
	         <a style="color:white;font-weight:bold" href="https://www.idealfed.com/index.html" target="_blank">Click here for more</a>
	      </td>
	      <td style="width:15%"></td>
	   </tr>
	</table>
	<table width=100% style="background-color: #f1f1f1;">
	   <tr>
	      <td style="height: 5px;"></td>
	   </tr>
	   <tr style=" font-family:'Source Sans Pro',sans-serif, Arial; font-size: 1rem; font-weight: 700; color: #27313E">
	      <td width="100px"></td>
	      <td></td>
	      <td width="100px"></td>
	   </tr>
	   <tr>
	      <td style="height:32px;"></td>
	   </tr>
	</table>
	<!-- Material Design Cards --> 
	<div id="splashTableDivId" style="height:380px">
	   <table width=100% style="background-color: #f1f1f1;">
	      <!-- ROW 1 --> 
	      <tr height="150px">
	         <td width="100px"></td>
	         <td style=" background-color: #fff; padding-top: 8px; padding-right: 8px; padding-bottom: 8px; border-radius: 8px; min-width: 400px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iforms?decorator=admin&mode=forms'">
	            <table>
	               <td width="150px" style="text-align: center;"> <img width="84" height="84" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/build/v6/24px.svg"> </td>
	               <td style="padding-right: 16px; width: 325px;"> <b style="text-align: left; font-size: 1.125rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Forms Admin</b> <br> <span style=" font-family:'Source Sans Pro',sans-serif, Arial; font-size: 1rem; font-weight: 500; line-height: 1.5"> Create, modify and manage Ideal forms. <br> </span> </td>
	            </table>
	         </td>
	         <td width="16px"></td>
	         <td style=" background-color: #fff; padding-top: 8px; padding-right: 8px; padding-bottom: 8px; border-radius: 8px; min-width: 400px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iforms?decorator=admin&mode=reports'">
	            <table>
	               <td width="150px" style="text-align: center;"> <img width="84" height="84" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/table_view/v3/24px.svg"> </td>
	               <td style=" padding-right: 16px; width: 325px"> <b style=" text-align: left; font-size: 1.125rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Form Library</b> <br> <span style=" font-family:'Source Sans Pro',sans-serif, Arial; font-size: 1rem; font-weight: 500; line-height: 1.5"> Review and install pre built form groups. <br> </span> </td>
	            </table>
	         </td>
	         <td width="100px"></td>
	      </tr>
	      <tr>
	         <td style="height: 16px;"></td>
	      </tr>
	      <tr height="150px">
	         <td width="100px"></td>
	         <td style=" background-color: #fff; padding-top: 8px; padding-right: 8px; padding-bottom: 8px; border-radius: 8px; min-width: 400px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iforms?decorator=admin&mode=reports'">
	            <table>
	               <td width="150px" style="text-align: center;"> <img width="84" height="84" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/description/v6/24px.svg"> </td>
	               <td style="padding-right: 16px; width: 325px;"> <b style="text-align: left; font-size: 1.125rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Reports Admin</b> <br> <span style=" font-family:'Source Sans Pro',sans-serif, Arial; font-size: 1rem; font-weight: 500; line-height: 1.5"> Create, modify and manage Ideal reports. <br> </span> </td>
	            </table>
	         </td>
	         <td width="16px"></td>
	         <td style=" background-color: #fff; padding-top: 8px; padding-right: 8px; padding-bottom: 8px; border-radius: 8px; min-width: 400px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iforms?decorator=admin&mode=admin'">
	            <table>
	               <td width="150px" style="text-align: center;"> <img width="84" height="84" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/settings/v6/24px.svg"> </td>
	               <td style=" padding-right: 16px; width: 325px"> <b style=" text-align: left; font-size: 1.125rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Utilities</b> <br> <span style=" font-family:'Source Sans Pro',sans-serif, Arial; font-size: 1rem; font-weight: 500; line-height: 1.5"> Helpful tools for managing users, groups and links. <br> </span> </td>
	            </table>
	         </td>
	         <td width="100px"></td>
	         <td width="100px"></td>
	      </tr>
	      <tr>
	         <td style="height: 40px;"></td>
	      </tr>
	      <tr>
	         <td style="height: 16px;"></td>
	      </tr>
	   </table>
	</div>
	<!-- Footer --> 
	<table width=100% style=" background-color: #f1f1f1; border-bottom: 3px solid #a98860;">
	   <tr>
	      <td width="100px"></td>
	      <td></td>
	      <td width="100px"></td>
	   </tr>
	</table>
	<table width=100% style="background-color: #27313E; margin-bottom: -16px">
	   <tr>
	      <td style="height: 5px;"></td>
	   </tr>
	   <tr>
	      <td style="text-align: left">
	
	      </td>
	      <td>
	      </td>
	   </tr>
	   <tr>
	      <td style="height: 5px;"></td>
	   </tr>
	</table>
	



</body>
</html>